
.post-list-item {
    width: auto;
    flex-grow: 1;
}

.app-list-item button {
    width: 35px;
    height: 35px;
    margin: 3px;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.app-list-item button:focus {
    box-shadow: none;
    outline: none;
}

.app-list-item .btn-star {
    color: #FFD700;
}

.app-list-item .btn-trash {
    color: red;
}

.post-list-item-span {
    font-size: 1.2rem;
    display: block;
    line-height: 35px;
    cursor: pointer;
    user-select: none;
    transition: .5s all;
}

.app-list-item .btn-heart {
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 25px;
    font-size: 16px;
    color: red;
    transition: .3s all;
    transform: translateX(30px);
    opacity: 0;
}

.post-list-item-span {
    font-size: 20px;
    text-shadow: 1px 6px 12px rgba(0,0,0,.3);
}

.post .like {
    opacity: 1;
    transform: translateX(0px);
}

.important {
    color: #FFD700;
}

.post .btn-star {
    color: #aeaeae;
}
